<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>영화등록</title>
<style type="text/css">
table {
	border: 1px solid black;
	width: 100%;
}

.check_ok {
	background-color: green;
}

.check_no {
	background-color: red;
}

table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: inherit;
}

.list_wrap {
	padding: 50px;
}

.list {
	width: 100%;
	border-top: 2px solid green;
}

.list tr {
	border-bottom: 1px solid #ccc;
} 

.list th, .list td {
	padding: 10px;
	font-size: 14px;
	text-align: center;
}

</style>
</head>
<body>
	<div class="list_wrap">
		<table class="list">
			<thead>
				<tr>
					<th>책제목</th>
					<th>날짜</th>
					<th>아이디</th>
					<th>상태확인</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="#">vclxkhvzehrzvjjcxvz</a></td>
					<td>2021.06.02</td>
					<td>jaewook3830</td>
					<td class="check_ok">
					<td>
				</tr>
				<tr>
					<td><a href="#">vclxkhvzehrzvjjcxvz</a></td>
					<td>2021.06.02</td>
					<td>jaewook3830</td>
					<td class="check_no">
					<td>
				</tr>
				<tr>
					<td><a href="#">vclxkhvzehrzvjjcxvz</a></td>
					<td>2021.06.02</td>
					<td>jaewook3830</td>
					<td class="check_no">
					<td>
				</tr>
				<tr>
					<td><a href="#">vclxkhvzehrzvjjcxvz</a></td>
					<td>2021.06.02</td>
					<td>jaewook3830</td>
					<td class="check_ok">
					<td>
				</tr>
				<tr>
					<td><a href="#">vclxkhvzehrzvjjcxvz</a></td>
					<td>2021.06.02</td>
					<td>jaewook3830</td>
					<td class="check_ok">
					<td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
