body {
	font-family: 'Noto Sans KR', sans-serif;
}

/* ---- 공통 스타일 ---- */
.modal {
	border-radius: 8px;
}

/* ---- 메인 페이지 정보 ---- */
/* 수치 정보 */
.summary-score {
	padding: 0;
}
.summary-score .item {
	display: inline-flex;
	margin-right: 12px;
	margin-bottom: 0;
}
.summary-score .item :nth-child(1) {
	font-weight: normal;
	color: #98989C;
	margin-right: 4px;
}
.summary-score .item :nth-child(2) {
	font-weight: 600;
}

/* 리뷰 정보 */
.review-box {
}
.review-box .title {
	font-size: 18px;
}
.review-box .tab-box {
	display: flex;
	justify-content: space-between;
}
.review-box .tab-box .btn {
	width: 100%;
	border: 1px solid #222222;
}
.review-box .tab-box .btn:first-child {
	border-right: 0;
}
.review-box .tab-box .btn.active {
	background-color: #222222;
	color: #ffffff;
}
.review-box .item {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}
.review-box .item .text {
	display: flex;
	position: relative;
}
.review-box .item .text .profile-img {
	width: 70px;
	height: 70px;
	margin-right: 16px;
	border-radius: 8px;
}
.review-box .item .text span {
	font-size: 14px;
	color: #222222;
}
.review-box .item .text .more-btn {
	font-size: 14px;
	color: #98989C;
	cursor: pointer;
}
.review-box .item .text .upload-img {
	width: 64px;
	margin-left: 12px;
	border-radius: 8px;
}
.review-box .item .text .upload-img-count {
	position: absolute;
	right: 0; bottom: 0;
	padding: 4px;
	border-top-left-radius: 8px;

	font-size: 10px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, .4);
	color: #000000;
}

.review-box .item .action .btn {
	display: inline-flex;
	margin-right: 12px;
	margin-bottom: 0;
}
.review-box .item .action .btn:nth-child(2) {
	cursor: auto;
}
.review-box .item .action .btn :nth-child(1) {
	font-weight: normal;
	color: #98989C;
	margin-right: 4px;
}
.review-box .item .action .btn :nth-child(2) {
	font-weight: 600;
}
.review-box .more-btn {
	width: 100%;
	margin-top: 4px;
	padding-right: 12px;
	text-align: right;
	cursor: pointer;

	font-size: 14px;
	color: #98989C;
}


/* 영화 정보 */
.media-info {
	display: flex;
	flex-direction: row;
}
.media-info .img-box {
	width: 40%;
	min-width: 150px;
	max-width: 300px;
}
.media-info img {
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.media-info .common-box {
	flex-grow: 1;
	padding-left: 16px;
	padding-top: 4px;
}
.media-info .common-box .title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.media-info .common-info {
	display: flex;
	margin-left: 12px;
	margin-bottom: 8px;
	font-size: 14px;
}
.media-info .common-info :nth-child(1) {
	width: 80px;
	font-weight: normal;
	color: #98989C;
}
.media-info .common-info :nth-child(2) {
	font-weight: 500;
}
.favorite-btn {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	padding-right: 12px;
}
.favorite-btn .text {
	font-size: 12px;
	font-weight: 600;
}

/* 영화 설명 */
.explain-box {
	padding: 12px;
	border-radius: 8px;
	background-color: #fafafa;
}
.explain-box .title, .title {
	font-size: 18px;
}
.explain-box span {
	font-size: 14px;
}

/* 출연/제작 */
.people-box {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.people-box .item {
	display: flex;
	flex-direction: column;
	width: 24%;
	padding: 4px;
	margin-right: 1%;
	text-align: center;
}
.people-box .item img {
	width: 100%;
	border-radius: 4px;
}
.people-box .item span {
	font-size: 14px;
	margin-top: 4px;
	color: #222222;
}
.people-box .more-btn {
	width: 100%;
	margin-top: 12px;
	text-align: center;
	cursor: pointer;

	font-size: 14px;
	color: #98989C;
}

/* 비슷한 작품 */
.similar-box {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.similar-box .title {
	width: 100%;
	font-size: 18px;
}
.similar-box .item {
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 8px;
	margin-right: 3%;
	text-align: center;
	cursor: pointer;
}
.similar-box .item img {
	width: 100%;
	border-radius: 4px;
}
.similar-box .item span {
	font-size: 14px;
	margin-top: 4px;
	color: #222222;
}

/* 부가 기능 */
.modal .people-box {
	margin-bottom: 24px;
}
.modal .people-box .item {
	width: 96px;
}
.modal .people-box .item .type {
	font-size: 12px;
	color: #98989C;
	margin-top: -2px;
}

.modal .media-info .img-box {
	width: 124px;
}
.modal .review-info span {
	font-size: 14px;
}
.modal .review-info img {
	max-width: 140px;
	margin-right: 12px;
	border-radius: 8px;
}

.modal.review-input .btn-box {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: flex-end;
}
.modal.review-input .btn-box .btn {
	width: fit-content;
	margin-right: 8px;
	margin-bottom: 8px;
}
.modal.review-input .input-box span {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 4px;
	margin-left: 4px;
}

#review-confirm-modal .modal-title {
	font-size: 14px;
	font-weight: 600;
}
#review-confirm-modal .modal-body .rating-score {
	font-size: 14px;
	font-weight: bold;
}
#review-confirm-modal .btn {
	width: 50%;
	font-size: 14px;
	font-weight: bold;
}
#review-confirm-modal .btn:nth-child(1) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#review-confirm-modal .btn:nth-child(2) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
}

.ck-editor__editable:not(.ck-editor__nested-editable) { 
	min-height: 400px;
}